# dependencies
frontend/node_modules
venv

#build
frontend/build
frontend/dist
frontend/node_modules
infrastructure/
!infrastructure/main.tf
backend/build
backend/.aws/
backend/__pycache__
backend/venv
backend/.env


#cache
__pycache__
.coverage